footer {
    margin-top: 150px;
    .input {
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        margin-top: 34px;
        margin-bottom: 20px;
        input {
            border: none;
        }
    }
}