header {
    justify-content: space-between;
    .container {
        flex-direction: row-reverse;
        display: flex;
        align-items: center;
    }
    a {
        color: var(--green);
    }
}
