@media (max-width:768px) {
    nav {
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    }

    header {
        .container {
            flex-direction: column !important;
            .header-box {
                div {
                    justify-content: center;
                }
                h1, p {
                    text-align: center;
                }
            }
        }
    }
    .product {
        .row {
            text-align: center !important;
            width: 60%;
            margin: auto;
        }
        h1 {
            width: 100% !important;
        }
    }
    .nth {
        flex-direction: column !important;
        margin-top: 100px !important;
    }

    .process {
        margin-top: 150px !important;
        p {
            width: 100% !important;
        }
    }
    .content {
        margin-top: 100px !important;
    }
    
    .price {
        margin-top: 100px !important;
        flex-direction: column;
    }
    .review {
        margin-top: 100px !important;
        .row {
            text-align: center;
        }
        p {
            width: 100% !important;
        }
    }
    .join {
        margin-top: 100px !important;
        text-align: center !important;
        .img {
            margin-top: 40px !important;
        }
    }

    footer {
        margin-top: 100px !important;
        text-align: center;
        .social {
            justify-content: center !important;
            align-items: center;
        }
        .row {
            div {
                margin-top: 30px !important;
            }
        }
    }
    .enterprice {
        margin-top: 100px !important;
    }

    .effects {
        margin-top: 100px !important;
    }
    main {
        margin-top: 50px !important;
        a {
            width: calc((100% - 50px) / 2);
        }
    }
    .customers {
        margin-top: 50px !important;
    }
    .work {
        margin-top: 50px !important;
    }

    .offer {
        margin-top: 50px !important;
        h2 {
            width: 100% !important;
        }
    }
    .enter {
        margin-top: 50px !important;
        text-align: center;
    }
    .contact {
        margin-top: 100px !important;
        text-align: center;
        .iframe {
            width: 360px !important;
            height: 320px !important;
        }
    }
}