@media (max-width:768px) {
    nav {
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    }

    header {
        .container {
            flex-direction: column !important;
            .header-box {
                width: 100%;
                h1, p {
                    text-align: center;
                }
            }
        }
    }
    .product {
        .row {
            text-align: center !important;
            width: 60%;
            margin: auto;
        }
        h1 {
            width: 100% !important;
        }
    }
    .nth {
        flex-direction: column !important;
        margin-top: 100px !important;
    }

    .process {
        margin-top: 150px !important;
        p {
            width: 100% !important;
        }
    }
    .content {
        margin-top: 100px !important;
    }
    
    .price {
        margin-top: 100px !important;
        flex-direction: column;
    }
    .review {
        margin-top: 100px !important;
        .row {
            text-align: center;
        }
        p {
            width: 100% !important;
        }
    }
    .join {
        margin-top: 100px !important;
        .img {
            margin-top: 40px !important;
        }
    }

    footer {
        margin-top: 100px !important;
        text-align: center;
        .row {
            div {
                margin-top: 30px !important;
            }
        }
    }
    .enterprice {
        margin-top: 100px;
    }

    .effects {
        margin-top: 100px;
    }
}